body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head{
    display: flex;
    height: 100px;
    background-color: lightgray;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    border: black solid;
}

#divLogo{
    height: 90px;
    width: 90%;
    margin-left: 5px;
}

#imgLogo{
    height: 90px;
}

#divProfil{
    background-color: rgb(165, 165, 165);
    width: 10%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    height: 30px;
    border-radius: 10px;
    border: black solid;
}

#divQuestionnaire{
    display: flex;
    margin-top: 30px;
    height: 300px;
    width: 80%;
    background-color: lightgray;
    border-radius: 10px;
    border: solid black;
    align-items: center;
}

#divImgQuestionnaire{
    margin-left: 20px;
    height: 260px;
    width: auto;
}

#imgQuestionnaire{
    max-height: 260px;
    border: solid black;
}

#divInfoQuestionnaire{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

p{
    font-size: 20px;
}

.divPassages{
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.divPassage{
    height: 100px;
    width: 15%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border: solid black;
    border-radius: 10px;
    justify-content: center;
}

span{
    margin-left: 10px;
}
